In [2]:
import pandas as pd
import json
df = pd.read_csv('nba_alltime_leaders.csv')
cols = ['PLAYER', 'GP', 'PTS', 'FT%', 'FTM', 'FTA', 'FGM','FGA','FG%','3PM','3PA','3P%','OREB','DREB','REB','AST','STL','BLK','TOV']
data = df[cols].sort_values("FT%", ascending=False).drop_duplicates(subset=['PLAYER'])
data = data.reset_index()[cols]
data_dict = data.to_dict(orient='records')
with open('players_ft.json', 'w') as json_file:
    json.dump(data_dict, json_file, indent=4)

In [34]:
result = []
for key, value in data.iterrows():
    d = {}
    #print(value['PLAYER'])
    #print(value['FT%'])
    d['Player'] = value['PLAYER']
    d['ft%'] = value['FT%']
    result.append(d)

In [35]:
result

[{'Player': 'Stephen Curry', 'ft%': 91.0},
 {'Player': 'Damian Lillard', 'ft%': 89.7},
 {'Player': 'Kyrie Irving', 'ft%': 88.6},
 {'Player': 'Kevin Durant', 'ft%': 88.4},
 {'Player': 'Desmond Bane', 'ft%': 87.9},
 {'Player': 'Khris Middleton', 'ft%': 87.9},
 {'Player': 'Jordan Poole', 'ft%': 87.8},
 {'Player': 'Danilo Gallinari', 'ft%': 87.6},
 {'Player': 'Malcolm Brogdon', 'ft%': 87.3},
 {'Player': 'Anfernee Simons', 'ft%': 87.3},
 {'Player': 'Trae Young', 'ft%': 87.3},
 {'Player': 'Isaiah Thomas', 'ft%': 87.2},
 {'Player': 'Devin Booker', 'ft%': 87.0},
 {'Player': 'Chris Paul', 'ft%': 87.0},
 {'Player': 'CJ McCollum', 'ft%': 86.9},
 {'Player': 'Kawhi Leonard', 'ft%': 86.2},
 {'Player': 'James Harden', 'ft%': 86.1},
 {'Player': 'Bojan Bogdanovic', 'ft%': 85.9},
 {'Player': 'Klay Thompson', 'ft%': 85.8},
 {'Player': 'Jeremy Lamb', 'ft%': 85.7},
 {'Player': 'Tyrese Haliburton', 'ft%': 85.6},
 {'Player': 'Austin Reaves', 'ft%': 85.5},
 {'Player': 'Cam Thomas', 'ft%': 85.5},
 {'Player': 'Paul George', 'ft%': 85.4},
 {'Player': 'Reggie Jackson', 'ft%': 85.4},
 {'Player': 'Derrick White', 'ft%': 85.4},
 {'Player': 'Shai Gilgeous-Alexander', 'ft%': 85.2},
 {'Player': 'Coby White', 'ft%': 84.8},
 {'Player': 'Josh Richardson', 'ft%': 84.6},
 {'Player': 'Mikal Bridges', 'ft%': 84.6},
 {'Player': 'Jayson Tatum', 'ft%': 84.4},
 {'Player': 'Jimmy Butler', 'ft%': 84.4},
 {'Player': 'Donovan Mitchell', 'ft%': 84.3},
 {'Player': 'DeMar DeRozan', 'ft%': 84.1},
 {'Player': 'Karl-Anthony Towns', 'ft%': 83.9},
 {'Player': 'Dennis Schroder', 'ft%': 83.6},
 {'Player': 'Tobias Harris', 'ft%': 83.5},
 {'Player': 'LaMelo Ball', 'ft%': 83.4},
 {'Player': 'Zach LaVine', 'ft%': 83.4},
 {'Player': 'Nicolas Batum', 'ft%': 83.2},
 {'Player': 'Jordan Clarkson', 'ft%': 83.2},
 {'Player': 'Kristaps Porzingis', 'ft%': 83.1},
 {'Player': 'Derrick Rose', 'ft%': 83.1},
 {'Player': 'Kevin Love', 'ft%': 82.9},
 {'Player': 'Nikola Jokic', 'ft%': 82.7},
 {'Player': 'Joel Embiid', 'ft%': 82.6},
 {'Player': 'Bennedict Mathurin', 'ft%': 82.6},
 {'Player': 'Wesley Matthews', 'ft%': 82.3},
 {'Player': 'Mike Conley', 'ft%': 82.3},
 {'Player': 'Gordon Hayward', 'ft%': 82.2},
 {'Player': 'Bradley Beal', 'ft%': 82.2},
 {'Player': 'Moritz Wagner', 'ft%': 82.0},
 {'Player': 'Kentavious Caldwell-Pope', 'ft%': 81.9},
 {'Player': 'Gary Trent Jr.', 'ft%': 81.9},
 {'Player': 'Justin Holiday', 'ft%': 81.7},
 {'Player': 'Kyle Lowry', 'ft%': 81.5},
 {'Player': "Devonte' Graham", 'ft%': 81.2},
 {'Player': 'Tim Hardaway Jr.', 'ft%': 81.2},
 {'Player': 'Eric Gordon', 'ft%': 81.1},
 {'Player': 'Taurean Prince', 'ft%': 81.1},
 {'Player': 'Robert Covington', 'ft%': 81.1},
 {'Player': 'Harrison Barnes', 'ft%': 81.0},
 {'Player': 'Doug McDermott', 'ft%': 80.6},
 {'Player': 'Alec Burks', 'ft%': 80.6},
 {'Player': 'Delon Wright', 'ft%': 80.6},
 {'Player': 'Danny Green', 'ft%': 80.5},
 {'Player': 'Jeff Green', 'ft%': 80.4},
 {'Player': 'Rudy Gay', 'ft%': 79.9},
 {'Player': 'Evan Fournier', 'ft%': 79.9},
 {'Player': 'Kelly Olynyk', 'ft%': 79.8},
 {'Player': 'Otto Porter Jr.', 'ft%': 79.7},
 {'Player': 'Spencer Dinwiddie', 'ft%': 79.6},
 {'Player': 'Brook Lopez', 'ft%': 79.6},
 {'Player': 'Anthony Davis', 'ft%': 79.5},
 {'Player': 'Jalen Green', 'ft%': 79.4},
 {'Player': "D'Angelo Russell", 'ft%': 79.2},
 {'Player': 'Jonas Valanciunas', 'ft%': 78.9},
 {'Player': 'Dejounte Murray', 'ft%': 78.7},
 {'Player': 'Brandon Ingram', 'ft%': 78.6},
 {'Player': 'Cory Joseph', 'ft%': 78.6},
 {'Player': 'Jrue Holiday', 'ft%': 78.4},
 {'Player': 'Chris Boucher', 'ft%': 77.9},
 {'Player': 'Russell Westbrook', 'ft%': 77.6},
 {'Player': 'Marcus Morris Sr.', 'ft%': 77.4},
 {'Player': 'Myles Turner', 'ft%': 77.1},
 {'Player': 'Nikola Vucevic', 'ft%': 76.8},
 {'Player': 'Pascal Siakam', 'ft%': 76.6},
 {'Player': 'Scottie Barnes', 'ft%': 76.4},
 {'Player': 'Bruce Brown', 'ft%': 76.4},
 {'Player': 'Al Horford', 'ft%': 76.0},
 {'Player': 'Bam Adebayo', 'ft%': 75.5},
 {'Player': 'Julius Randle', 'ft%': 74.8},
 {'Player': 'Jaden Ivey', 'ft%': 74.8},
 {'Player': 'Josh Okogie', 'ft%': 74.8},
 {'Player': 'Luka Doncic', 'ft%': 74.7},
 {'Player': 'Jerami Grant', 'ft%': 74.6},
 {'Player': 'OG Anunoby', 'ft%': 74.5},
 {'Player': 'Robin Lopez', 'ft%': 74.3},
 {'Player': 'Garrett Temple', 'ft%': 74.2},
 {'Player': 'Ivica Zubac', 'ft%': 73.9},
 {'Player': 'Caris LeVert', 'ft%': 73.9},
 {'Player': 'LeBron James', 'ft%': 73.6},
 {'Player': "De'Aaron Fox", 'ft%': 73.6},
 {'Player': 'Kyle Kuzma', 'ft%': 73.3},
 {'Player': 'Cody Zeller', 'ft%': 72.7},
 {'Player': 'Domantas Sabonis', 'ft%': 72.6},
 {'Player': 'Andrew Wiggins', 'ft%': 72.2},
 {'Player': 'Jaylen Brown', 'ft%': 72.0},
 {'Player': 'Taj Gibson', 'ft%': 71.3},
 {'Player': 'Cedi Osman', 'ft%': 71.1},
 {'Player': 'Alperen Sengun', 'ft%': 70.5},
 {'Player': 'Giannis Antetokounmpo', 'ft%': 70.2},
 {'Player': 'Larry Nance Jr.', 'ft%': 69.6},
 {'Player': 'Zion Williamson', 'ft%': 69.5},
 {'Player': 'Christian Wood', 'ft%': 69.4},
 {'Player': 'Marvin Bagley III', 'ft%': 69.2},
 {'Player': 'Aaron Gordon', 'ft%': 68.3},
 {'Player': 'Evan Mobley', 'ft%': 68.1},
 {'Player': 'Alex Len', 'ft%': 68.1},
 {'Player': 'Ish Smith', 'ft%': 67.6},
 {'Player': 'Jusuf Nurkic', 'ft%': 66.7},
 {'Player': 'Thaddeus Young', 'ft%': 66.1},
 {'Player': 'Rudy Gobert', 'ft%': 63.9},
 {'Player': 'JaVale McGee', 'ft%': 60.4},
 {'Player': 'Ben Simmons', 'ft%': 58.9},
 {'Player': 'Mason Plumlee', 'ft%': 57.3},
 {'Player': 'Clint Capela', 'ft%': 54.5},
 {'Player': 'Jakob Poeltl', 'ft%': 53.8},
 {'Player': 'Andre Drummond', 'ft%': 48.2},
 {'Player': 'DeAndre Jordan', 'ft%': 47.5}]

In [10]:
import json
# Replace 'your_file.json' with the path to your JSON file
with open('players_ft.json', 'r') as file:
    data = json.load(file)

d = {}
for p in data:
    d[p['PLAYER']] =  p['id']
with open('playerIndex.json', 'w') as file:
    json.dump(d, file, indent=4)

In [16]:
with open('playerIndex.json', 'r') as file:
    playerIndex = json.load(file)

with open('players_ft.json', 'r') as file:
    playerData = json.load(file)
for player in playerData:
    tempPlayer = player['PLAYER']
    if tempPlayer in playerIndex:
        player['index'] = playerIndex[tempPlayer]

In [20]:
with open('playerData.json', 'w') as json_file:
    json.dump(playerData, json_file, indent=4)

In [24]:
# Converts the JSON to SQLite database
import json
import sqlite3

# Load JSON data
with open('nbaPlayerData.json', 'r') as f:
    players_data = json.load(f)

# Connect to SQLite database (or create it)
conn = sqlite3.connect('nbaPlayers.db')
cursor = conn.cursor()

# Create the table with "index" quoted
cursor.execute('''
CREATE TABLE IF NOT EXISTS players (
    id INTEGER PRIMARY KEY,
    PLAYER TEXT,
    GP INTEGER,
    PTS INTEGER,
    FT_Percentage REAL,
    FTM INTEGER,
    FTA INTEGER,
    FGM INTEGER,
    FGA INTEGER,
    FG_Percentage REAL,
    ThreePM INTEGER,
    ThreePA INTEGER,
    ThreeP_Percentage REAL,
    OREB INTEGER,
    DREB INTEGER,
    REB INTEGER,
    AST INTEGER,
    STL INTEGER,
    BLK INTEGER,
    TOV INTEGER,
    PICIDX INTEGER
)
''')

# Insert data into the table
for player in players_data:
    cursor.execute('''
    INSERT INTO players (
        PLAYER, GP, PTS, FT_Percentage, FTM, FTA, FGM, FGA, FG_Percentage, 
        ThreePM, ThreePA, ThreeP_Percentage, OREB, DREB, REB, AST, STL, BLK, TOV, "index"
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', (
        player['PLAYER'], player['GP'], player['PTS'], player['FT%'], player['FTM'], 
        player['FTA'], player['FGM'], player['FGA'], player['FG%'], player['3PM'], 
        player['3PA'], player['3P%'], player['OREB'], player['DREB'], player['REB'], 
        player['AST'], player['STL'], player['BLK'], player['TOV'], player['index']
    ))
    

# Commit changes and close the connection
conn.commit()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

In [22]:
with open('tempPlayerData.json', 'r') as f:
    players_data = json.load(f)
new_players = []
for player in players_data:
    if 'index' in player:
        new_players.append(player)

with open('nbaPlayerData.json', 'w') as file:
    json.dump(new_players, file, indent=4)

In [25]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('nbaPlayers.db')
cursor = conn.cursor()

# Query to fetch all data from the players table
cursor.execute('SELECT * FROM players')

# Fetch all rows
rows = cursor.fetchall()

# Print the column names
column_names = [description[0] for description in cursor.description]
print("Column Names:", column_names)

# Print each row
for row in rows:
    print(row)

# Close the connection
conn.close()

Column Names: ['id', 'PLAYER', 'GP', 'PTS', 'FT_Percentage', 'FTM', 'FTA', 'FGM', 'FGA', 'FG_Percentage', 'ThreePM', 'ThreePA', 'ThreeP_Percentage', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'index']
(1, 'Stephen Curry', 956, 23668, 91.0, 3753, 4125, 8084, 17098, 47.3, 3747, 8805, 42.6, 629, 3880, 4509, 6119, 1473, 235, 2987, 201939)
(2, 'Damian Lillard', 842, 21151, 89.7, 4900, 5460, 6822, 15576, 43.8, 2607, 7032, 37.1, 505, 3068, 3573, 5659, 804, 257, 2379, 203081)
(3, 'Reggie Miller', 144, 2972, 89.3, 770, 862, 941, 2095, 44.9, 320, 820, 39.0, 77, 339, 416, 357, 146, 34, 257, 397)
(4, 'Dirk Nowitzki', 145, 3663, 89.2, 1074, 1204, 1220, 2642, 46.2, 149, 408, 36.5, 212, 1234, 1446, 360, 149, 129, 328, 1717)
(5, 'Larry Bird', 164, 3897, 89.0, 901, 1012, 1458, 3090, 47.2, 80, 249, 32.1, 360, 1323, 1683, 1062, 296, 145, 506, 1449)
(6, 'Kyrie Irving', 729, 17199, 88.6, 2787, 3146, 6340, 13368, 47.4, 1732, 4404, 39.3, 578, 2355, 2933, 4134, 956, 314, 1831, 202681)
(7, 'Kevin Durant', '1,061', 28924, 88.4, 6993, 7910, 9950, 19875, 50.1, 2031, 5248, 38.7, 717, 6737, 7454, 4645, 1124, 1196, 3364, 201142)
(8, 'Chauncey Billups', 146, 2526, 88.0, 785, 892, 737, 1793, 41.1, 267, 729, 36.6, 71, 421, 492, 831, 148, 23, 322, 1497)
(9, 'Khris Middleton', 739, 12461, 87.9, 2044, 2325, 4528, 9850, 46.0, 1361, 3511, 38.8, 469, 3094, 3563, 2916, 868, 143, 1560, 203114)
(10, 'Jordan Poole', 344, 5551, 87.8, 999, 1138, 1886, 4498, 41.9, 780, 2322, 33.6, 122, 785, 907, 1249, 270, 88, 752, 1629673)
(11, 'Danilo Gallinari', 777, 11607, 87.6, 3077, 3511, 3537, 8266, 42.8, 1456, 3825, 38.1, 521, 3097, 3618, 1469, 551, 268, 908, 201568)
(12, 'Trae Young', 407, 10379, 87.3, 2722, 3118, 3299, 7559, 43.6, 1059, 2986, 35.5, 263, 1188, 1451, 3868, 414, 62, 1696, 1629027)
(13, 'Malcolm Brogdon', 439, 6772, 87.3, 1042, 1193, 2497, 5381, 46.4, 736, 1884, 39.1, 342, 1484, 1826, 2058, 357, 103, 751, 203924)
(14, 'Isaiah Thomas', 556, 9723, 87.2, 2339, 2682, 3170, 7300, 43.4, 1044, 2880, 36.3, 283, 1037, 1320, 2641, 472, 61, 1242, 202738)
(15, 'Chris Paul', '1,272', 22288, 87.0, 4772, 5487, 7898, 16769, 47.1, 1720, 4658, 36.9, 759, 4923, 5682, 11894, 2614, 200, 2964, 101108)
(16, 'James Harden', 166, 3764, 87.0, 1088, 1250, 1129, 2659, 42.5, 418, 1231, 34.0, 122, 788, 910, 1061, 273, 91, 569, 201935)
(17, 'Devin Booker', 598, 14529, 87.0, 3098, 3559, 5095, 10970, 46.4, 1241, 3473, 35.7, 348, 2065, 2413, 2993, 510, 174, 1815, 1626164)
(18, 'CJ McCollum', 731, 14231, 86.9, 1709, 1966, 5427, 11966, 45.4, 1668, 4373, 38.1, 466, 2183, 2649, 2452, 673, 310, 1444, 203468)
(19, 'Kawhi Leonard', 696, 13937, 86.2, 2744, 3185, 5042, 10113, 49.9, 1109, 2837, 39.1, 837, 3606, 4443, 2120, 1196, 454, 1140, 202695)
(20, 'Bojan Bogdanovic', 719, 11184, 85.9, 1929, 2245, 3872, 8424, 46.0, 1511, 3831, 39.4, 381, 2178, 2559, 1194, 398, 55, 1205, 202711)
(21, 'Klay Thompson', 793, 15531, 85.8, 1462, 1704, 5794, 12780, 45.3, 2481, 6009, 41.3, 362, 2433, 2795, 1843, 676, 413, 1336, 202691)
(22, 'Tyrese Haliburton', 260, 4483, 85.6, 577, 674, 1634, 3417, 47.8, 638, 1622, 39.3, 168, 792, 960, 2274, 385, 150, 591, 1630169)
(23, 'Cam Thomas', 190, 2656, 85.5, 524, 613, 945, 2149, 44.0, 242, 703, 34.4, 52, 418, 470, 348, 98, 31, 242, 1630560)
(24, 'Oscar Robertson', 86, 1910, 85.5, 560, 655, 675, 1466, 46.0, '-', '-', '-', 15, 39, 578, 769, 15, 4, '-', 600015)
(25, 'Austin Reaves', 207, 2577, 85.5, 560, 655, 862, 1748, 49.3, 293, 803, 36.5, 135, 603, 738, 775, 128, 64, 313, 1630559)
(26, 'Derrick White', 418, 5151, 85.4, 894, 1047, 1789, 3978, 45.0, 679, 1869, 36.3, 229, 1238, 1467, 1704, 333, 366, 563, 1628401)
(27, 'Paul George', 867, 18032, 85.4, 3469, 4063, 6155, 13983, 44.0, 2253, 5859, 38.5, 726, 4739, 5465, 3191, 1464, 381, 2317, 202331)
(28, 'Reggie Jackson', 853, 10709, 85.4, 1541, 1804, 4011, 9470, 42.4, 1146, 3321, 34.5, 425, 1996, 2421, 3561, 577, 107, 1546, 202704)
(29, 'Shai Gilgeous-Alexander', 386, 8810, 85.2, 2193, 2574, 3083, 6216, 49.6, 451, 1294, 34.9, 284, 1548, 1832, 1876, 535, 293, 889, 1628983)
(30, 'Coby White', 348, 4896, 84.8, 587, 692, 1770, 4141, 42.7, 769, 2083, 36.9, 133, 1133, 1266, 1288, 223, 56, 575, 1629632)
(31, 'Mikal Bridges', 474, 6760, 84.6, 1013, 1198, 2467, 5135, 48.0, 813, 2168, 37.5, 419, 1529, 1948, 1211, 575, 274, 559, 1628969)
(32, 'Jimmy Butler', 814, 14934, 84.4, 4590, 5441, 4846, 10312, 47.0, 652, 1980, 32.9, 1316, 3035, 4351, 3474, 1323, 361, 1325, 202710)
(33, 'Jayson Tatum', 513, 11852, 84.4, 2302, 2727, 4127, 8964, 46.0, 1296, 3453, 37.5, 464, 3206, 3670, 1812, 563, 346, 1180, 1628369)
(34, 'Donovan Mitchell', 468, 11619, 84.3, 1964, 2330, 4135, 9192, 45.0, 1385, 3786, 36.6, 378, 1624, 2002, 2176, 645, 156, 1298, 1628378)
(35, 'DeMar DeRozan', '1,110', 23582, 84.1, 6171, 7337, 8440, 18007, 46.9, 531, 1791, 29.6, 785, 4125, 4910, 4527, 1108, 361, 2274, 201942)
(36, 'Karl-Anthony Towns', 573, 13121, 83.9, 2504, 2986, 4821, 9209, 52.4, 975, 2452, 39.8, 1590, 4626, 6216, 1815, 452, 721, 1553, 1626157)
(37, 'Magic Johnson', 190, 3701, 83.8, 1068, 1274, 1291, 2552, 50.6, 51, 212, 24.1, 349, 1116, 1465, 2346, 358, 64, 696, 77142)
(38, 'Dennis Schroder', 768, 10758, 83.6, 1905, 2279, 3960, 9124, 43.4, 933, 2729, 34.2, 326, 1910, 2236, 3693, 628, 109, 1744, 203471)
(39, 'LaMelo Ball', 184, 3675, 83.4, 529, 634, 1310, 3070, 42.7, 526, 1406, 37.4, 242, 905, 1147, 1364, 286, 63, 602, 1630163)
(40, 'Zach LaVine', 580, 11866, 83.4, 2118, 2540, 4227, 9108, 46.4, 1294, 3386, 38.2, 271, 2079, 2350, 2285, 513, 171, 1517, 203897)
(41, 'Jordan Clarkson', 716, 11429, 83.2, 1531, 1841, 4290, 9801, 43.8, 1318, 3937, 33.5, 622, 1783, 2405, 2073, 583, 107, 1330, 203903)
(42, 'Kristaps Porzingis', 459, 9021, 83.1, 1822, 2192, 3176, 6912, 45.9, 847, 2347, 36.1, 800, 2804, 3604, 826, 334, 846, 782, 204001)
(43, 'Derrick Rose', 723, 12573, 83.1, 2141, 2575, 4921, 10798, 45.6, 590, 1866, 31.6, 553, 1771, 2324, 3770, 536, 242, 1746, 201565)
(44, 'Paul Pierce', 170, 3180, 83.0, 860, 1036, 1022, 2415, 42.3, 276, 777, 35.5, 125, 860, 985, 579, 204, 105, 476, 1718)
(45, 'Kevin Love', 929, 15299, 82.9, 3583, 4323, 5033, 11469, 43.9, 1650, 4475, 36.9, 2194, 7209, 9403, 2150, 562, 364, 1665, 201567)
(46, 'Michael Jordan', 179, 5987, 82.8, 1463, 1766, 2188, 4497, 48.7, 148, 446, 33.2, 305, 847, 1152, 1022, 376, 158, 546, 893)
(47, 'Nikola Jokic', 675, 14139, 82.7, 2563, 3099, 5450, 9778, 55.7, 676, 1933, 35.0, 1783, 5466, 7249, 4667, 822, 491, 1946, 203999)
(48, 'Joel Embiid', 433, 12071, 82.6, 3608, 4369, 3977, 7897, 50.4, 509, 1491, 34.1, 972, 3860, 4832, 1573, 397, 720, 1485, 203954)
(49, 'Russell Westbrook', 122, 2883, 82.5, 708, 858, 1004, 2476, 40.5, 167, 562, 29.7, 222, 635, 857, 921, 211, 41, 471, 201566)
(50, 'Mike Conley', '1,101', 15888, 82.3, 2891, 3512, 5597, 12736, 43.9, 1803, 4655, 38.7, 526, 2746, 3272, 6306, 1524, 228, 2105, 201144)
(51, 'Gordon Hayward', 835, 12687, 82.2, 2726, 3317, 4425, 9725, 45.5, 1111, 3002, 37.0, 629, 3069, 3698, 2940, 808, 321, 1597, 202330)
(52, 'Bradley Beal', 748, 16355, 82.2, 2738, 3330, 6001, 12970, 46.3, 1615, 4305, 37.5, 655, 2414, 3069, 3237, 824, 311, 1839, 203078)
(53, 'Kentavious Caldwell-Pope', 835, 9499, 81.9, 1303, 1590, 3388, 7935, 42.7, 1420, 3852, 36.9, 489, 2050, 2539, 1516, 958, 231, 861, 203484)
(54, 'Manu Ginobili', 218, 3054, 81.7, 818, 1001, 956, 2209, 43.3, 324, 905, 35.8, 155, 719, 874, 827, 292, 61, 481, 1938)
(55, 'Kobe Bryant', 220, 5640, 81.6, 1320, 1617, 2014, 4499, 44.8, 292, 882, 33.1, 230, 889, 1119, 1040, 310, 144, 647, 977)
(56, 'Kyle Lowry', '1,138', 16218, 81.5, 3624, 4445, 5209, 12283, 42.4, 2176, 5909, 36.8, 881, 4013, 4894, 7003, 1466, 340, 2607, 200768)
(57, 'Tim Hardaway Jr.', 736, 10307, 81.2, 1463, 1802, 3584, 8578, 41.8, 1676, 4652, 36.0, 239, 1916, 2155, 1363, 457, 101, 751, 203501)
(58, 'Eric Gordon', 886, 13868, 81.1, 2372, 2926, 4734, 11010, 43.0, 2028, 5465, 37.1, 330, 1737, 2067, 2443, 750, 313, 1648, 201569)
(59, 'Harrison Barnes', 911, 12796, 81.0, 2471, 3051, 4521, 9903, 45.7, 1283, 3382, 37.9, 917, 3515, 4432, 1603, 633, 164, 1074, 203084)
(60, 'John Stockton', 182, 2436, 81.0, 615, 759, 855, 1809, 47.3, 111, 341, 32.6, 162, 446, 608, 1839, 338, 50, 517, 304)
(61, 'Danny Green', 832, 7204, 80.5, 535, 665, 2546, 6047, 42.1, 1577, 3946, 40.0, 501, 2326, 2827, 1277, 853, 634, 825, 201980)
(62, 'Jerry West', 153, 4457, 80.5, 1213, 1506, 1622, 3460, 46.9, '-', '-', '-', 0, 2, 855, 970, 0, 0, '-', 78497)
(63, 'Jeff Green', '1,185', 14241, 80.4, 2785, 3464, 5142, 11435, 45.0, 1172, 3477, 33.7, 992, 3832, 4824, 1764, 753, 587, 1573, 201145)
(64, 'Dennis Johnson', 180, 3116, 80.2, 756, 943, 1167, 2661, 43.9, 26, 110, 23.6, 262, 519, 781, 1006, 247, 113, 480, 77141)
(65, 'Bob Cousy', 109, 2018, 80.1, 640, 799, 689, 2016, 34.2, '-', '-', '-', '-', '-', 546, 937, '-', '-', '-', 600003)
(66, 'Rudy Gay', '1,120', 17642, 79.9, 3116, 3898, 6670, 14771, 45.2, 1186, 3429, 34.6, 1447, 4836, 6283, 2280, 1231, 798, 2245, 200752)
(67, 'Kelly Olynyk', 756, 7755, 79.8, 1312, 1644, 2778, 5729, 48.5, 887, 2402, 36.9, 913, 3005, 3918, 1847, 599, 351, 1210, 203482)
(68, 'Otto Porter Jr.', 527, 5419, 79.7, 559, 701, 2088, 4376, 47.7, 684, 1724, 39.7, 602, 1997, 2599, 783, 586, 221, 399, 203490)
(69, 'Spencer Dinwiddie', 542, 7206, 79.6, 1666, 2094, 2341, 5653, 41.4, 858, 2574, 33.3, 236, 1406, 1642, 2804, 378, 150, 905, 203915)
(70, 'Brook Lopez', '1,025', 16476, 79.6, 2968, 3727, 6286, 12673, 49.6, 936, 2682, 34.9, 2048, 4288, 6336, 1471, 583, 1912, 1667, 201572)
(71, 'Anthony Davis', 736, 17717, 79.5, 4117, 5177, 6630, 12679, 52.3, 340, 1145, 29.7, 1952, 5873, 7825, 1828, 974, 1705, 1460, 203076)
(72, 'Jalen Green', 225, 4450, 79.4, 835, 1051, 1535, 3645, 42.1, 545, 1617, 33.7, 117, 816, 933, 748, 169, 64, 526, 1630224)
(73, "D'Angelo Russell", 571, 10136, 79.2, 1355, 1710, 3659, 8513, 43.0, 1463, 3961, 36.9, 282, 1672, 1954, 3289, 610, 184, 1538, 1626156)
(74, 'Jonas Valanciunas', 856, 11436, 78.9, 2104, 2668, 4551, 8112, 56.1, 230, 661, 34.8, 2364, 5732, 8096, 1137, 342, 822, 1411, 202685)
(75, 'Clyde Drexler', 145, 2963, 78.7, 670, 851, 1076, 2408, 44.7, 141, 489, 28.8, 359, 643, 1002, 891, 278, 108, 397, 17)
(76, 'Dejounte Murray', 472, 7261, 78.7, 885, 1125, 2912, 6359, 45.8, 552, 1602, 34.5, 438, 2287, 2725, 2490, 678, 127, 955, 1627749)
(77, 'Brandon Ingram', 477, 9256, 78.6, 1866, 2374, 3373, 7208, 46.8, 644, 1777, 36.2, 344, 2122, 2466, 2037, 342, 269, 1199, 1627742)
(78, 'Jrue Holiday', 975, 15736, 78.4, 1910, 2436, 6180, 13355, 46.3, 1466, 3953, 37.1, 922, 3153, 4075, 6201, 1407, 508, 2596, 201950)
(79, 'Dwyane Wade', 177, 3954, 78.0, 951, 1220, 1450, 3062, 47.4, 103, 305, 33.8, 234, 694, 928, 870, 273, 175, 583, 2548)
(80, 'Julius Erving', 141, 3088, 77.9, 707, 908, 1187, 2441, 48.6, 7, 36, 19.4, 360, 634, 994, 594, 235, 239, 396, 76681)
(81, 'Elgin Baylor', 134, 3623, 77.1, 847, 1098, 1388, 3161, 43.9, '-', '-', '-', '-', '-', 1724, 541, '-', '-', '-', 76127)
(82, 'Myles Turner', 570, 7911, 77.1, 1419, 1840, 2946, 5872, 50.2, 600, 1694, 35.4, 816, 3062, 3878, 702, 386, 1268, 786, 1626167)
(83, 'Pascal Siakam', 551, 9747, 76.6, 1743, 2274, 3719, 7504, 49.6, 566, 1715, 33.0, 824, 2819, 3643, 1998, 499, 332, 1023, 1627783)
(84, 'Scottie Barnes', 211, 3504, 76.4, 544, 712, 1369, 2890, 47.4, 222, 713, 31.1, 515, 1048, 1563, 990, 238, 204, 455, 1630567)
(85, 'Moses Malone', 94, 2077, 76.2, 576, 756, 750, 1566, 47.9, 1, 7, 14.3, 510, 785, 1295, 136, 84, 151, 215, 77449)
(86, 'Al Horford', 1078, 14167, 76.0, 1571, 2066, 5867, 11439, 51.3, 862, 2275, 37.9, 2090, 6485, 8575, 3501, 830, 1249, 1523, 201143)
(87, 'Bam Adebayo', 489, 7513, 75.5, 1714, 2270, 2888, 5276, 54.7, 23, 104, 22.1, 1081, 3194, 4275, 1707, 509, 436, 1057, 1628389)
(88, 'Jaden Ivey', 151, 2389, 74.8, 493, 659, 826, 1956, 42.2, 244, 719, 33.9, 159, 393, 552, 683, 118, 58, 427, 1631093)
(89, 'Julius Randle', 641, 12229, 74.8, 2605, 3481, 4441, 9445, 47.0, 742, 2229, 33.3, 1265, 4740, 6005, 2387, 439, 268, 1798, 203944)
(90, 'Luka Doncic', 400, 11470, 74.7, 2473, 3309, 3898, 8296, 47.0, 1201, 3457, 34.7, 387, 3085, 3472, 3317, 467, 182, 1598, 1629029)
(91, 'OG Anunoby', 418, 5001, 74.5, 523, 702, 1893, 3994, 47.4, 692, 1839, 37.6, 452, 1334, 1786, 667, 527, 224, 547, 1628384)
(92, 'LeBron James', 287, 8162, 74.1, 1836, 2479, 2928, 5896, 49.7, 470, 1415, 33.2, 430, 2153, 2583, 2067, 483, 275, 1034, 2544)
(93, 'Kareem Abdul-Jabbar', 237, 5762, 74.0, 1050, 1419, 2356, 4422, 53.3, 0, 4, 0.0, 505, 1273, 2481, 767, 189, 476, 447, 76003)
(94, 'Karl Malone', 193, 4761, 73.6, 1269, 1725, 1743, 3768, 46.3, 6, 37, 16.2, 502, 1560, 2062, 610, 258, 135, 550, 252)
(95, "De'Aaron Fox", 469, 9940, 73.6, 1901, 2582, 3671, 7796, 47.1, 697, 2086, 33.4, 276, 1508, 1784, 2870, 665, 196, 1275, 1628368)
(96, 'Tony Parker', 226, 4045, 73.1, 700, 958, 1613, 3501, 46.1, 119, 385, 30.9, 108, 558, 666, 1143, 198, 19, 594, 2225)
(97, 'Domantas Sabonis', 576, 9064, 72.6, 1737, 2391, 3541, 6373, 55.6, 245, 737, 33.2, 1482, 4426, 5908, 2739, 448, 271, 1460, 1627734)
(98, 'Scottie Pippen', 208, 3642, 72.4, 772, 1067, 1335, 3009, 44.4, 200, 660, 30.3, 466, 1117, 1583, 1048, 395, 185, 602, 937)
(99, 'Andrew Wiggins', 706, 13091, 72.2, 2300, 3185, 4887, 10874, 44.9, 1017, 2871, 35.4, 908, 2248, 3156, 1597, 682, 468, 1326, 203952)
(100, 'Jaylen Brown', 540, 10038, 72.0, 1450, 2014, 3780, 7871, 48.0, 1028, 2826, 36.4, 524, 2316, 2840, 1303, 539, 209, 1115, 1627759)
(101, 'Hakeem Olajuwon', 145, 3755, 71.9, 743, 1034, 1504, 2847, 52.8, 4, 18, 22.2, 471, 1150, 1621, 458, 245, 472, 424, 165)
(102, 'Patrick Ewing', 139, 2813, 71.8, 597, 831, 1104, 2353, 46.9, 8, 23, 34.8, 337, 1098, 1435, 275, 122, 303, 345, 121)
(103, 'Charles Barkley', 123, 2833, 71.7, 751, 1048, 1009, 1965, 51.3, 64, 251, 25.5, 510, 1072, 1582, 482, 193, 108, 353, 787)
(104, 'David Robinson', 123, 2221, 70.8, 684, 966, 768, 1604, 47.9, 1, 10, 10.0, 367, 934, 1301, 280, 151, 312, 280, 764)
(105, 'Giannis Antetokounmpo', 792, 18502, 70.2, 4510, 6427, 6732, 12349, 54.5, 528, 1845, 28.6, 1452, 6280, 7732, 3855, 903, 986, 2380, 203507)
(106, 'Zion Williamson', 184, 4542, 69.5, 1007, 1449, 1753, 2960, 59.2, 29, 85, 34.1, 411, 788, 1199, 761, 182, 111, 518, 1629627)
(107, 'Tim Duncan', 251, 5172, 68.9, 1217, 1766, 1975, 3939, 50.1, 5, 35, 14.3, 778, 2081, 2859, 764, 168, 568, 633, 1495)
(108, 'Aaron Gordon', 669, 9009, 68.3, 1458, 2135, 3432, 7140, 48.1, 687, 2130, 32.3, 1179, 3048, 4227, 1775, 499, 431, 995, 203932)
(109, 'Rudy Gobert', 757, 9592, 63.9, 2468, 3864, 3562, 5440, 65.5, 0, 17, 0.0, 2539, 6376, 8915, 996, 520, 1614, 1248, 203497)
(110, 'JaVale McGee', 909, 6907, 60.4, 982, 1627, 2955, 5110, 57.8, 15, 78, 19.2, 1624, 2953, 4577, 386, 345, 1258, 896, 201580)
(111, 'Bill Russell', 165, 2673, 60.3, 667, 1106, 1003, 2335, 43.0, '-', '-', '-', '-', '-', 4104, 770, '-', '-', '-', 78049)
(112, 'Dwight Howard', 125, 1909, 54.8, 546, 997, 681, 1156, 58.9, 1, 7, 14.3, 441, 1032, 1473, 149, 94, 248, 323, 2730)
(113, 'Clint Capela', 609, 7466, 54.5, 962, 1766, 3252, 5238, 62.1, 0, 5, 0.0, 2258, 4258, 6516, 614, 416, 898, 657, 203991)
(114, "Shaquille O'Neal", 216, 5250, 50.4, 1168, 2317, 2041, 3627, 56.3, 0, 0, 0.0, 866, 1642, 2508, 582, 117, 459, 649, 406)
(115, 'Andre Drummond', 864, 11000, 48.2, 1739, 3606, 4623, 8519, 54.3, 15, 120, 12.5, 3656, 7015, 10671, 1073, 1094, 1130, 1567, 203083)
(116, 'DeAndre Jordan', 1055, 9274, 47.5, 1742, 3664, 3765, 5585, 67.4, 2, 13, 15.4, 3107, 7394, 10501, 992, 555, 1540, 1402, 201599)
(117, 'Wilt Chamberlain', 160, 3607, 46.5, 757, 1627, 1425, 2728, 52.2, '-', '-', '-', '-', '-', 3913, 673, '-', '-', '-', 76375)

In [ ]:
# Importing new data for leaderbaord
import pandas as pd

pd.read_html('https://www.basketball-reference.com/leagues/NBA_2020_totals.html#totals_stats')

[        Rk                 Player   Age Team  Pos     G    GS      MP     FG  \
 0      1.0           James Harden  30.0  HOU   SG  68.0  68.0  2483.0  672.0
 1      2.0         Damian Lillard  29.0  POR   PG  66.0  66.0  2474.0  624.0
 2      3.0           Devin Booker  23.0  PHO   SG  70.0  70.0  2512.0  627.0
 3      4.0  Giannis Antetokounmpo  25.0  MIL   PF  63.0  63.0  1917.0  685.0
 4      5.0             Trae Young  21.0  ATL   PG  60.0  60.0  2120.0  546.0
 ..     ...                    ...   ...  ...  ...   ...   ...     ...    ...
 647  648.0         William Howard  26.0  HOU   PF   2.0   0.0    13.0    0.0
 648  649.0           Stanton Kidd  27.0  UTA   SG   4.0   0.0    15.0    0.0
 649  650.0            J.P. Macura  24.0  CLE   SG   1.0   0.0     1.0    0.0
 650  651.0            Isaiah Roby  21.0  OKC   PF   3.0   0.0    11.0    0.0
 651    NaN         League Average   NaN  NaN  NaN   NaN   NaN     NaN    NaN

         FGA  ...    DRB    TRB    AST    STL   BLK    TOV     PF     PTS  \
 0    1514.0  ...  376.0  446.0  512.0  125.0  60.0  308.0  227.0  2335.0
 1    1349.0  ...  251.0  284.0  530.0   70.0  22.0  194.0  114.0  1978.0
 2    1283.0  ...  268.0  297.0  456.0   49.0  18.0  264.0  213.0  1863.0
 3    1238.0  ...  716.0  856.0  354.0   61.0  66.0  230.0  195.0  1857.0
 4    1249.0  ...  223.0  255.0  560.0   65.0   8.0  289.0  104.0  1778.0
 ..      ...  ...    ...    ...    ...    ...   ...    ...    ...     ...
 647     4.0  ...    2.0    2.0    1.0    0.0   0.0    1.0    1.0     0.0
 648     3.0  ...    3.0    3.0    1.0    0.0   0.0    2.0    3.0     0.0
 649     0.0  ...    0.0    0.0    0.0    0.0   0.0    0.0    0.0     0.0
 650     1.0  ...    2.0    2.0    0.0    0.0   0.0    1.0    1.0     0.0
 651     NaN  ...    NaN    NaN    NaN    NaN   NaN    NaN    NaN     NaN

      Trp-Dbl                Awards
 0        4.0         MVP-3,AS,NBA1
 1        1.0         MVP-8,AS,NBA2
 2        0.0                    AS
 3        4.0  MVP-1,DPOY-1,AS,NBA1
 4        2.0                    AS
 ..       ...                   ...
 647      0.0                   NaN
 648      0.0                   NaN
 649      0.0                   NaN
 650      0.0                   NaN
 651      NaN                   NaN

 [652 rows x 32 columns],
         Rk               Player   Age Team  Pos     G    GS     MP     FG  \
 0      1.0        Anthony Davis  26.0  LAL   PF  21.0  21.0  769.0  205.0
 1      2.0         LeBron James  35.0  LAL   PG  21.0  21.0  762.0  214.0
 2      3.0         Jamal Murray  22.0  DEN   PG  19.0  19.0  753.0  186.0
 3      4.0         Jimmy Butler  30.0  MIA   SF  21.0  21.0  806.0  144.0
 4      5.0         Nikola Jokić  24.0  DEN    C  19.0  19.0  694.0  178.0
 ..     ...                  ...   ...  ...  ...   ...   ...    ...    ...
 213  214.0         Gabe Vincent  23.0  MIA   PG   1.0   0.0    0.0    0.0
 214  215.0          Noah Vonleh  24.0  DEN    C   1.0   0.0    3.0    0.0
 215  216.0       Tremont Waters  22.0  BOS   PG   1.0   0.0    2.0    0.0
 216  217.0  Nigel Williams-Goss  25.0  UTA   PG   1.0   0.0    2.0    0.0
 217    NaN       League Average   NaN  NaN  NaN   NaN   NaN    NaN    NaN

        FGA  ...    DRB    TRB    AST   STL   BLK   TOV    PF    PTS  Trp-Dbl  \
 0    359.0  ...  149.0  204.0   73.0  26.0  30.0  53.0  56.0  582.0      0.0
 1    382.0  ...  198.0  226.0  184.0  26.0  18.0  84.0  40.0  580.0      5.0
 2    368.0  ...   72.0   92.0  126.0  18.0   6.0  53.0  42.0  504.0      0.0
 3    295.0  ...   90.0  136.0  127.0  41.0  14.0  59.0  37.0  467.0      2.0
 4    343.0  ...  150.0  187.0  109.0  20.0  15.0  62.0  68.0  464.0      1.0
 ..     ...  ...    ...    ...    ...   ...   ...   ...   ...    ...      ...
 213    0.0  ...    0.0    0.0    0.0   0.0   0.0   0.0   0.0    0.0      0.0
 214    1.0  ...    0.0    0.0    0.0   0.0   0.0   0.0   0.0    0.0      0.0
 215    1.0  ...    1.0    1.0    1.0   0.0   0.0   0.0   0.0    0.0      0.0
 216    0.0  ...    0.0    0.0    1.0   0.0   0.0   0.0   0.0    0.0      0.0
 217    NaN  ...    NaN    NaN    NaN   NaN   NaN   NaN   NaN    NaN      NaN

            Awards
 0             NaN
 1    Finals MVP-1
 2             NaN
 3             NaN
 4             NaN
 ..            ...
 213           NaN
 214           NaN
 215           NaN
 216           NaN
 217           NaN

 [218 rows x 32 columns]]

In [22]:
import pandas as pd
url_attempt = "https://www.basketball-reference.com/leaders/fta_career.html"
df_attempt = pd.read_html(url_attempt)[1]
url_made = "https://www.basketball-reference.com/leaders/ft_career.html"
df_made = pd.read_html(url_made)[1]
df = pd.merge(df_made, df_attempt, on='Player')
cols = ['Player', 'FT', 'FTA']
df = df[cols]
df['Percentage'] = df['FT'] / df['FTA']
df = df.sort_values(by='Percentage', ascending=False)
df = df.reset_index()
cols2 = ['Player', 'FT', 'FTA', 'Percentage']
df = df[cols2]
df["Player"] = df["Player"].str.replace(r"\*$", "", regex=True)

In [23]:
import json

with open('playerIndex.json', 'r') as file:
    playerIndexData = json.load(file)

import pandas as pd

dfPlayerIds = pd.DataFrame(
    list(playerIndexData.items()),
    columns=["Player", "Id"]
)
dfPlayerIds

             Player       Id
0     Stephen Curry   201939
1      Jared Mccain  1642272
2    Damian Lillard   203081
3     Reggie Miller      397
4     Dirk Nowitzki     1717
..              ...      ...
143   Kevin Garnett      708
144      Chris Bosh     2547
145      Jalen Rose      147
146     Joe Johnson     2207
147  Gilbert Arenas     2240

[148 rows x 2 columns]

In [24]:
final_df = pd.merge(df, dfPlayerIds, on='Player')
final_df

              Player    FT    FTA  Percentage      Id
0      Stephen Curry  4098   4494    0.911883  201939
1         Steve Nash  3060   3384    0.904255     959
2     Damian Lillard  5262   5853    0.899026  203081
3   Chauncey Billups  4496   5029    0.894015    1497
4          Ray Allen  4398   4920    0.893902     951
..               ...   ...    ...         ...     ...
82       Rudy Gobert  2671   4176    0.639607  203497
83     Dwight Howard  5361   9455    0.567002    2730
84      Bill Russell  3148   5614    0.560741   78049
85  Shaquille O'Neal  5935  11252    0.527462     406
86  Wilt Chamberlain  6057  11862    0.510622   76375

[87 rows x 5 columns]

In [ ]:
# from nba_api.stats.endpoints import playercareerstats

# # Nikola Jokić
# career = playercareerstats.PlayerCareerStats(player_id='2544')

# # pandas data frames (optional: pip install pandas)
# df_regular_season = career.season_totals_regular_season.get_data_frame()

# df_post_season = career.career_totals_post_season.get_data_frame()
# # # json
# json_version = career.get_json()

# # # dictionary
# dictionary = career.get_dict()

In [ ]:

# import json
# import time
# import requests
# from nba_api.stats.endpoints import playercareerstats

# # Containers for JSON data
# regular_season_data = {}
# post_season_data = {}

# def get_player_stats(pid, retries=3, delay=2):
#     """
#     Fetch player career stats with retry logic.
#     """
#     for attempt in range(retries):
#         try:
#             return playercareerstats.PlayerCareerStats(player_id=pid)
#         except requests.exceptions.ReadTimeout:
#             print(f"Timeout for {pid}, retry {attempt+1}/{retries}...")
#             time.sleep(delay)
#         except Exception as e:
#             print(f"Error for {pid}: {e}")
#             return None
#     return None

# for pid in final_df['Id'].to_list():
#     career = get_player_stats(pid)
#     if career is None:
#         continue  # skip if failed after retries
    
#     # Regular season
#     df_regular = career.season_totals_regular_season.get_data_frame()
#     regular_season_data[pid] = df_regular.to_dict(orient="records")
    
#     # Postseason
#     df_post = career.season_totals_post_season.get_data_frame()
#     post_season_data[pid] = df_post.to_dict(orient="records")
    
#     # Sleep to avoid hitting rate limits
#     time.sleep(0.6)

# # Save to JSON files
# with open("regular_season2.json", "w") as f:
#     json.dump(regular_season_data, f, indent=2)

# with open("post_season2.json", "w") as f:
#     json.dump(post_season_data, f, indent=2)

# print("Data saved to regular_season2.json and post_season2.json")

Data saved to regular_season2.json and post_season2.json

In [52]:
final_df

    index            Player    FT    FTA  Percentage      Id
0       0     Stephen Curry  4098   4494    0.911883  201939
1       1        Steve Nash  3060   3384    0.904255     959
2       2    Damian Lillard  5262   5853    0.899026  203081
3       3  Chauncey Billups  4496   5029    0.894015    1497
4       4         Ray Allen  4398   4920    0.893902     951
..    ...               ...   ...    ...         ...     ...
82     82       Rudy Gobert  2671   4176    0.639607  203497
83     83     Dwight Howard  5361   9455    0.567002    2730
84     84      Bill Russell  3148   5614    0.560741   78049
85     85  Shaquille O'Neal  5935  11252    0.527462     406
86     86  Wilt Chamberlain  6057  11862    0.510622   76375

[87 rows x 6 columns]

In [46]:
final_df.to_json('playersFreeThrowStatistics.json')